*{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

body {
    background-color: #403e3e; 
}

#header, ul, li{
    width: auto;
    margin: auto;
    text-align: right;
    float: right;
    padding-top: 1px; 
    color: white;
    list-style: none;
    float: right;
}

h1{
    color: white;
    line-height: 200px;
    font-size: 90px;
    box-align: center;
}

#search, input{
    width: 500px;
    height: 40px;
    background-color: white;
    border-color: none;
	border-radius:10px;
    text-size-adjust: 100%;
    display: block;
    margin: 0 auto;
}

#button{
    border-radius: 4px;
    align-items: center;
}

footer{
    background-color: grey;
    float: inline-end;
    font-size: small;
    color: white;
    width: auto;
    bottom: auto;
}