*{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

body {
    background-color: #403e3e; 
}

#header{
    width: auto;
    margin: auto;
    text-align: right;
    float: right;
    padding-top: 0px; 
}

ul li{
    color: white;
    list-style: none;
    float: left;
}

h1{
    color: white;
    line-height: 200px;
    font-size: 90px;
    font-kerning: auto;
}

#search, input{
    width: 500px;
    height: 20px;
    background-color: white;
	border-radius:8px;
    text-size-adjust: 100%;
    padding-top: 3px;
    padding-bottom: 5px;
    float: none;
}

#button{
    border-radius: 4px;
    align-items: center;
}

footer{
    background-color: grey;
    float: inline-end;
    font-size: small;
    color: white;
    width: auto;
    bottom: auto;
}